*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #eeee;
}
.header{
    background-color: #dfdfdf;
    height: 75px;
}
.container{
    width: 1440px;
    margin: 0 auto;
}
.head{
    line-height: 75px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 34px;
    color: #0783f0;
}
.uploader{
    padding: 20px 20px 20px 20px;
    display: flex;
    background-color: #dfdfdf;
    margin-top: 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}
.btn{
    color: #F5F3F4;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    height: 70px;
    width: 240px;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    color: #0783f0;
    transition: 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn:hover{
    background-color: #026ecc;
    color: white;
    transition: 0.4s;
}
input[type=file]{
    display: none;
}
.dropzone{
    font-family: 'Roboto Condensed', sans-serif;
    border: 4px dashed #0783f0;
    color: #0783f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    margin-left: 24px;
    width: 1100px;
    height: 200px;
}
.dropzone.active{
    border-color: #FFFFFF;
}
.name{
    text-align: center;
}
.file{
    z-index: 1;
    margin-top: 10px;
    text-decoration:none;
    color: #FFFFFF;
    display:block;
    background-color: #0B090A;
    border-radius: 10px;
    padding: 10px;
    position:relative;
    overflow: hidden;
    width: 300px;
  }
  .file .progress {
    z-index: -1;
    background-color: hsla(209, 100%, 40%, 0.479);
    transition: all;
    transition-duration: 0.6s;
    position: absolute;
    inset:0;
    width:0;
    padding-top: 10px;
    text-align: center;
  }
  .file .progress .done{
    top: 100px;
    background-color: hsla(209, 100%, 40%, 0.479);
  }
  .prom__upload{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .upload__text{
    font-family: 'Roboto Condensed', sans-serif;
    color: #fff;
    font-size: 36px;
    display: none;
  }
  .upload__text.up{
    display: block;
  }
  .progress__upload{
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .byte{
    font-family: 'Roboto Condensed', sans-serif;
    color: #0783f0;
    font-size: 24px;
    margin-left: 20px;
  }
  .byte__flex{
    display: flex;
    align-items: center;
  }